-- MySQL dump 10.13  Distrib 8.4.7, for Win64 (x86_64)
--
-- Host: localhost    Database: ganadex
-- ------------------------------------------------------
-- Server version	8.4.7

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `_prisma_migrations`
--

DROP TABLE IF EXISTS `_prisma_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `_prisma_migrations` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `checksum` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `finished_at` datetime(3) DEFAULT NULL,
  `migration_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `logs` text COLLATE utf8mb4_unicode_ci,
  `rolled_back_at` datetime(3) DEFAULT NULL,
  `started_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `applied_steps_count` int unsigned NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_prisma_migrations`
--

LOCK TABLES `_prisma_migrations` WRITE;
/*!40000 ALTER TABLE `_prisma_migrations` DISABLE KEYS */;
INSERT INTO `_prisma_migrations` VALUES ('d8480275-8f7f-430f-b789-1b3d92cfd9c0','9fc750bf82db1fecb4d4e34c41aae9b7bb763f4505bd9f6119b00acf48932bc3','2026-01-05 16:14:46.219','20260105160350_add_usuario_empresas_fix_email',NULL,NULL,'2026-01-05 16:14:28.777',1);
/*!40000 ALTER TABLE `_prisma_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `adjuntos_transaccion`
--

DROP TABLE IF EXISTS `adjuntos_transaccion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `adjuntos_transaccion` (
  `id_adjunto` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_transaccion` bigint unsigned NOT NULL,
  `id_tipo_adjunto` bigint unsigned NOT NULL,
  `url_archivo` varchar(255) NOT NULL,
  `notas` text,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_adjunto`),
  KEY `idx_at_tipo` (`id_tipo_adjunto`),
  KEY `idx_at_transaccion` (`id_transaccion`),
  CONSTRAINT `fk_at_tipo` FOREIGN KEY (`id_tipo_adjunto`) REFERENCES `tipos_adjunto` (`id_tipo_adjunto`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_at_transaccion` FOREIGN KEY (`id_transaccion`) REFERENCES `transacciones_financieras` (`id_transaccion`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `adjuntos_transaccion`
--

LOCK TABLES `adjuntos_transaccion` WRITE;
/*!40000 ALTER TABLE `adjuntos_transaccion` DISABLE KEYS */;
/*!40000 ALTER TABLE `adjuntos_transaccion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ambitos_rol`
--

DROP TABLE IF EXISTS `ambitos_rol`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ambitos_rol` (
  `id_ambito_rol` bigint unsigned NOT NULL AUTO_INCREMENT,
  `codigo` varchar(30) NOT NULL,
  `nombre` varchar(80) NOT NULL,
  PRIMARY KEY (`id_ambito_rol`),
  UNIQUE KEY `uq_ambitos_rol_codigo` (`codigo`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ambitos_rol`
--

LOCK TABLES `ambitos_rol` WRITE;
/*!40000 ALTER TABLE `ambitos_rol` DISABLE KEYS */;
INSERT INTO `ambitos_rol` VALUES (1,'empresa','Empresa'),(2,'finca','Finca');
/*!40000 ALTER TABLE `ambitos_rol` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `animal_categorias_historial`
--

DROP TABLE IF EXISTS `animal_categorias_historial`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `animal_categorias_historial` (
  `id_hist` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned NOT NULL,
  `id_animal` bigint unsigned NOT NULL,
  `id_categoria_animal` bigint unsigned NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date DEFAULT NULL,
  `observaciones` text,
  PRIMARY KEY (`id_hist`),
  KEY `idx_ac_animal` (`id_animal`,`empresa_id`,`fecha_inicio`),
  KEY `idx_ac_categoria` (`id_categoria_animal`),
  CONSTRAINT `fk_ac_animal` FOREIGN KEY (`id_animal`, `empresa_id`) REFERENCES `animales` (`id_animal`, `empresa_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_ac_categoria` FOREIGN KEY (`id_categoria_animal`) REFERENCES `categorias_animales` (`id_categoria_animal`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `animal_categorias_historial`
--

LOCK TABLES `animal_categorias_historial` WRITE;
/*!40000 ALTER TABLE `animal_categorias_historial` DISABLE KEYS */;
/*!40000 ALTER TABLE `animal_categorias_historial` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `animal_estados_historial`
--

DROP TABLE IF EXISTS `animal_estados_historial`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `animal_estados_historial` (
  `id_hist` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned NOT NULL,
  `id_animal` bigint unsigned NOT NULL,
  `id_estado_animal` bigint unsigned NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date DEFAULT NULL,
  `motivo` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_hist`),
  KEY `idx_ae_animal` (`id_animal`,`empresa_id`,`fecha_inicio`),
  KEY `idx_ae_estado` (`id_estado_animal`),
  CONSTRAINT `fk_ae_animal` FOREIGN KEY (`id_animal`, `empresa_id`) REFERENCES `animales` (`id_animal`, `empresa_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_ae_estado` FOREIGN KEY (`id_estado_animal`) REFERENCES `estados_animales` (`id_estado_animal`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `animal_estados_historial`
--

LOCK TABLES `animal_estados_historial` WRITE;
/*!40000 ALTER TABLE `animal_estados_historial` DISABLE KEYS */;
/*!40000 ALTER TABLE `animal_estados_historial` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `animal_identificaciones`
--

DROP TABLE IF EXISTS `animal_identificaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `animal_identificaciones` (
  `id_animal_identificacion` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned NOT NULL,
  `id_animal` bigint unsigned NOT NULL,
  `id_tipo_identificacion` bigint unsigned NOT NULL,
  `valor` varchar(120) NOT NULL,
  `fecha_asignacion` date NOT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  `observaciones` text,
  PRIMARY KEY (`id_animal_identificacion`),
  UNIQUE KEY `uq_ai_empresa_tipo_valor` (`empresa_id`,`id_tipo_identificacion`,`valor`),
  KEY `idx_ai_animal` (`id_animal`,`empresa_id`),
  KEY `idx_ai_tipo` (`id_tipo_identificacion`),
  CONSTRAINT `fk_ai_animal` FOREIGN KEY (`id_animal`, `empresa_id`) REFERENCES `animales` (`id_animal`, `empresa_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_ai_tipo` FOREIGN KEY (`id_tipo_identificacion`) REFERENCES `tipos_identificacion` (`id_tipo_identificacion`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `animal_identificaciones`
--

LOCK TABLES `animal_identificaciones` WRITE;
/*!40000 ALTER TABLE `animal_identificaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `animal_identificaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `animales`
--

DROP TABLE IF EXISTS `animales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `animales` (
  `id_animal` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned NOT NULL,
  `id_finca` bigint unsigned NOT NULL,
  `nombre` varchar(120) DEFAULT NULL,
  `sexo` char(1) NOT NULL,
  `fecha_nacimiento` date DEFAULT NULL,
  `fecha_nacimiento_estimada` tinyint(1) NOT NULL DEFAULT '0',
  `id_raza` bigint unsigned DEFAULT NULL,
  `padre_id` bigint unsigned DEFAULT NULL,
  `madre_id` bigint unsigned DEFAULT NULL,
  `notas` text,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_animal`,`empresa_id`),
  KEY `idx_animales_finca` (`id_finca`,`empresa_id`),
  KEY `idx_animales_madre` (`madre_id`,`empresa_id`),
  KEY `idx_animales_padre` (`padre_id`,`empresa_id`),
  KEY `idx_animales_raza` (`id_raza`),
  CONSTRAINT `fk_animales_finca` FOREIGN KEY (`id_finca`, `empresa_id`) REFERENCES `fincas` (`id_finca`, `empresa_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_animales_madre` FOREIGN KEY (`madre_id`, `empresa_id`) REFERENCES `animales` (`id_animal`, `empresa_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_animales_padre` FOREIGN KEY (`padre_id`, `empresa_id`) REFERENCES `animales` (`id_animal`, `empresa_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_animales_raza` FOREIGN KEY (`id_raza`) REFERENCES `razas` (`id_raza`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `animales`
--

LOCK TABLES `animales` WRITE;
/*!40000 ALTER TABLE `animales` DISABLE KEYS */;
/*!40000 ALTER TABLE `animales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auditoria_detalle`
--

DROP TABLE IF EXISTS `auditoria_detalle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auditoria_detalle` (
  `id_detalle` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_auditoria` bigint unsigned NOT NULL,
  `empresa_id` bigint unsigned NOT NULL,
  `id_animal` bigint unsigned DEFAULT NULL,
  `id_tipo_identificacion` bigint unsigned DEFAULT NULL,
  `valor_leido` varchar(120) DEFAULT NULL,
  `encontrado` tinyint(1) NOT NULL DEFAULT '0',
  `incidencia` varchar(50) DEFAULT NULL,
  `notas` text,
  PRIMARY KEY (`id_detalle`),
  KEY `fk_adet_empresa` (`empresa_id`),
  KEY `fk_adet_tipo` (`id_tipo_identificacion`),
  KEY `idx_adet_animal` (`id_animal`,`empresa_id`),
  KEY `idx_adet_auditoria` (`id_auditoria`),
  CONSTRAINT `fk_adet_animal` FOREIGN KEY (`id_animal`, `empresa_id`) REFERENCES `animales` (`id_animal`, `empresa_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_adet_auditoria` FOREIGN KEY (`id_auditoria`) REFERENCES `auditorias_inventario` (`id_auditoria`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_adet_empresa` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id_empresa`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_adet_tipo` FOREIGN KEY (`id_tipo_identificacion`) REFERENCES `tipos_identificacion` (`id_tipo_identificacion`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auditoria_detalle`
--

LOCK TABLES `auditoria_detalle` WRITE;
/*!40000 ALTER TABLE `auditoria_detalle` DISABLE KEYS */;
/*!40000 ALTER TABLE `auditoria_detalle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auditorias_inventario`
--

DROP TABLE IF EXISTS `auditorias_inventario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auditorias_inventario` (
  `id_auditoria` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned NOT NULL,
  `id_finca` bigint unsigned NOT NULL,
  `fecha_apertura` datetime NOT NULL,
  `fecha_cierre` datetime DEFAULT NULL,
  `id_metodo_auditoria` bigint unsigned NOT NULL,
  `estado` varchar(20) NOT NULL DEFAULT 'abierta',
  `observaciones` text,
  `created_by` bigint unsigned DEFAULT NULL,
  PRIMARY KEY (`id_auditoria`),
  KEY `fk_aud_created_by` (`created_by`),
  KEY `fk_aud_metodo` (`id_metodo_auditoria`),
  KEY `idx_aud_finca` (`id_finca`,`empresa_id`),
  CONSTRAINT `fk_aud_created_by` FOREIGN KEY (`created_by`) REFERENCES `usuarios` (`id_usuario`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_aud_finca` FOREIGN KEY (`id_finca`, `empresa_id`) REFERENCES `fincas` (`id_finca`, `empresa_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_aud_metodo` FOREIGN KEY (`id_metodo_auditoria`) REFERENCES `metodos_auditoria` (`id_metodo_auditoria`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auditorias_inventario`
--

LOCK TABLES `auditorias_inventario` WRITE;
/*!40000 ALTER TABLE `auditorias_inventario` DISABLE KEYS */;
/*!40000 ALTER TABLE `auditorias_inventario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categorias_animales`
--

DROP TABLE IF EXISTS `categorias_animales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categorias_animales` (
  `id_categoria_animal` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned DEFAULT NULL,
  `empresa_id_u` bigint unsigned DEFAULT NULL,
  `codigo` varchar(40) NOT NULL,
  `nombre` varchar(120) NOT NULL,
  `sexo_requerido` char(1) DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  `orden` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id_categoria_animal`),
  UNIQUE KEY `uq_ca_empresa_codigo` (`empresa_id_u`,`codigo`),
  KEY `idx_ca_empresa` (`empresa_id`),
  CONSTRAINT `fk_ca_empresa` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id_empresa`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categorias_animales`
--

LOCK TABLES `categorias_animales` WRITE;
/*!40000 ALTER TABLE `categorias_animales` DISABLE KEYS */;
INSERT INTO `categorias_animales` VALUES (1,NULL,NULL,'becerro','Becerro','M',1,10),(2,NULL,NULL,'becerra','Becerra','F',1,11),(3,NULL,NULL,'mauto','Mauto','M',1,20),(4,NULL,NULL,'mauta','Mauta','F',1,21),(5,NULL,NULL,'novillo','Novillo','M',1,30),(6,NULL,NULL,'novilla','Novilla','F',1,31),(7,NULL,NULL,'vaca','Vaca','F',1,40),(8,NULL,NULL,'toro','Toro','M',1,41);
/*!40000 ALTER TABLE `categorias_animales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categorias_financieras`
--

DROP TABLE IF EXISTS `categorias_financieras`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categorias_financieras` (
  `id_categoria_financiera` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned DEFAULT NULL,
  `empresa_id_u` bigint unsigned DEFAULT NULL,
  `codigo` varchar(60) NOT NULL,
  `nombre` varchar(140) NOT NULL,
  `id_tipo_transaccion` bigint unsigned NOT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  `orden` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id_categoria_financiera`),
  UNIQUE KEY `uq_cf_empresa_codigo` (`empresa_id_u`,`codigo`),
  KEY `idx_cf_empresa` (`empresa_id`),
  KEY `idx_cf_tipo_tx` (`id_tipo_transaccion`),
  CONSTRAINT `fk_cf_empresa` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id_empresa`) ON DELETE RESTRICT ON UPDATE RESTRICT,
  CONSTRAINT `fk_cf_tipo_tx` FOREIGN KEY (`id_tipo_transaccion`) REFERENCES `tipos_transaccion` (`id_tipo_transaccion`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categorias_financieras`
--

LOCK TABLES `categorias_financieras` WRITE;
/*!40000 ALTER TABLE `categorias_financieras` DISABLE KEYS */;
/*!40000 ALTER TABLE `categorias_financieras` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `centros_recepcion`
--

DROP TABLE IF EXISTS `centros_recepcion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `centros_recepcion` (
  `id_centro` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned NOT NULL,
  `nombre` varchar(160) NOT NULL,
  `contacto` varchar(200) DEFAULT NULL,
  `telefono` varchar(40) DEFAULT NULL,
  `notas` text,
  PRIMARY KEY (`id_centro`,`empresa_id`),
  UNIQUE KEY `uq_cr_empresa_nombre` (`empresa_id`,`nombre`),
  CONSTRAINT `fk_cr_empresa` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id_empresa`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `centros_recepcion`
--

LOCK TABLES `centros_recepcion` WRITE;
/*!40000 ALTER TABLE `centros_recepcion` DISABLE KEYS */;
/*!40000 ALTER TABLE `centros_recepcion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `empresas`
--

DROP TABLE IF EXISTS `empresas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `empresas` (
  `id_empresa` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(160) NOT NULL,
  `documento_fiscal` varchar(60) DEFAULT NULL,
  `estado` varchar(30) NOT NULL DEFAULT 'activa',
  `plan_id` bigint unsigned DEFAULT NULL,
  `notas` text,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_empresa`),
  KEY `idx_empresas_plan` (`plan_id`),
  CONSTRAINT `fk_empresas_plan` FOREIGN KEY (`plan_id`) REFERENCES `planes` (`id_plan`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `empresas`
--

LOCK TABLES `empresas` WRITE;
/*!40000 ALTER TABLE `empresas` DISABLE KEYS */;
INSERT INTO `empresas` VALUES (1,'Hato Cristero',NULL,'activa',NULL,NULL,'2026-01-05 21:15:39','2026-01-05 21:15:39'),(2,'Hato Cristero',NULL,'activa',NULL,NULL,'2026-01-05 21:38:54','2026-01-05 21:38:54');
/*!40000 ALTER TABLE `empresas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `enfermedades`
--

DROP TABLE IF EXISTS `enfermedades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `enfermedades` (
  `id_enfermedad` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned DEFAULT NULL,
  `empresa_id_u` bigint unsigned DEFAULT NULL,
  `codigo` varchar(60) NOT NULL,
  `nombre` varchar(140) NOT NULL,
  `tipo` varchar(40) DEFAULT NULL,
  PRIMARY KEY (`id_enfermedad`),
  UNIQUE KEY `uq_enf_empresa_codigo` (`empresa_id_u`,`codigo`),
  KEY `idx_enf_empresa` (`empresa_id`),
  CONSTRAINT `fk_enf_empresa` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id_empresa`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `enfermedades`
--

LOCK TABLES `enfermedades` WRITE;
/*!40000 ALTER TABLE `enfermedades` DISABLE KEYS */;
/*!40000 ALTER TABLE `enfermedades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `entregas_leche`
--

DROP TABLE IF EXISTS `entregas_leche`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `entregas_leche` (
  `id_entrega` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned NOT NULL,
  `id_finca` bigint unsigned NOT NULL,
  `id_centro` bigint unsigned NOT NULL,
  `fecha` date NOT NULL,
  `litros_entregados` decimal(12,3) NOT NULL,
  `referencia_guia` varchar(120) DEFAULT NULL,
  `notas` text,
  `created_by` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_entrega`),
  KEY `idx_el_centro_fecha` (`id_centro`,`empresa_id`,`fecha`),
  KEY `idx_el_created_by` (`created_by`),
  KEY `idx_el_finca_fecha` (`id_finca`,`empresa_id`,`fecha`),
  CONSTRAINT `fk_el_centro` FOREIGN KEY (`id_centro`, `empresa_id`) REFERENCES `centros_recepcion` (`id_centro`, `empresa_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_el_created_by` FOREIGN KEY (`created_by`) REFERENCES `usuarios` (`id_usuario`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_el_finca` FOREIGN KEY (`id_finca`, `empresa_id`) REFERENCES `fincas` (`id_finca`, `empresa_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `entregas_leche`
--

LOCK TABLES `entregas_leche` WRITE;
/*!40000 ALTER TABLE `entregas_leche` DISABLE KEYS */;
/*!40000 ALTER TABLE `entregas_leche` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estados_animales`
--

DROP TABLE IF EXISTS `estados_animales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `estados_animales` (
  `id_estado_animal` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned DEFAULT NULL,
  `empresa_id_u` bigint unsigned DEFAULT NULL,
  `codigo` varchar(40) NOT NULL,
  `nombre` varchar(120) NOT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id_estado_animal`),
  UNIQUE KEY `uq_ea_empresa_codigo` (`empresa_id_u`,`codigo`),
  KEY `idx_ea_empresa` (`empresa_id`),
  CONSTRAINT `fk_ea_empresa` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id_empresa`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estados_animales`
--

LOCK TABLES `estados_animales` WRITE;
/*!40000 ALTER TABLE `estados_animales` DISABLE KEYS */;
INSERT INTO `estados_animales` VALUES (1,NULL,NULL,'activo','Activo',1),(2,NULL,NULL,'vendido','Vendido',1),(3,NULL,NULL,'muerto','Muerto',1);
/*!40000 ALTER TABLE `estados_animales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estados_productivos`
--

DROP TABLE IF EXISTS `estados_productivos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `estados_productivos` (
  `id_estado_productivo` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned DEFAULT NULL,
  `empresa_id_u` bigint unsigned DEFAULT NULL,
  `codigo` varchar(60) NOT NULL,
  `nombre` varchar(140) NOT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  `orden` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id_estado_productivo`),
  UNIQUE KEY `uq_ep_empresa_codigo` (`empresa_id_u`,`codigo`),
  KEY `idx_ep_empresa` (`empresa_id`),
  CONSTRAINT `fk_ep_empresa` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id_empresa`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estados_productivos`
--

LOCK TABLES `estados_productivos` WRITE;
/*!40000 ALTER TABLE `estados_productivos` DISABLE KEYS */;
INSERT INTO `estados_productivos` VALUES (1,NULL,NULL,'en_ordenio','En orde├▒o',1,10),(2,NULL,NULL,'seca','Seca',1,20),(3,NULL,NULL,'levante','Levante',1,30),(4,NULL,NULL,'ceba','Ceba',1,40);
/*!40000 ALTER TABLE `estados_productivos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estados_recordatorio`
--

DROP TABLE IF EXISTS `estados_recordatorio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `estados_recordatorio` (
  `codigo` varchar(30) NOT NULL,
  `nombre` varchar(60) NOT NULL,
  `orden` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`codigo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estados_recordatorio`
--

LOCK TABLES `estados_recordatorio` WRITE;
/*!40000 ALTER TABLE `estados_recordatorio` DISABLE KEYS */;
INSERT INTO `estados_recordatorio` VALUES ('cancelado','Cancelado',3),('completado','Completado',2),('pendiente','Pendiente',1);
/*!40000 ALTER TABLE `estados_recordatorio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `eventos_reproductivos`
--

DROP TABLE IF EXISTS `eventos_reproductivos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `eventos_reproductivos` (
  `id_evento_reproductivo` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned NOT NULL,
  `id_animal` bigint unsigned NOT NULL,
  `id_tipo_evento_reproductivo` bigint unsigned NOT NULL,
  `fecha` date NOT NULL,
  `detalles` text,
  `id_resultado_palpacion` bigint unsigned DEFAULT NULL,
  `reproductor_id` bigint unsigned DEFAULT NULL,
  `reproductor_identificacion` varchar(120) DEFAULT NULL,
  `created_by` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_evento_reproductivo`),
  KEY `idx_er_animal_fecha` (`id_animal`,`empresa_id`,`fecha`),
  KEY `idx_er_created_by` (`created_by`),
  KEY `idx_er_reproductor` (`reproductor_id`,`empresa_id`),
  KEY `idx_er_resultado` (`id_resultado_palpacion`),
  KEY `idx_er_tipo` (`id_tipo_evento_reproductivo`),
  CONSTRAINT `fk_er_animal` FOREIGN KEY (`id_animal`, `empresa_id`) REFERENCES `animales` (`id_animal`, `empresa_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_er_created_by` FOREIGN KEY (`created_by`) REFERENCES `usuarios` (`id_usuario`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_er_reproductor` FOREIGN KEY (`reproductor_id`, `empresa_id`) REFERENCES `animales` (`id_animal`, `empresa_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_er_resultado` FOREIGN KEY (`id_resultado_palpacion`) REFERENCES `resultados_palpacion` (`id_resultado_palpacion`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_er_tipo` FOREIGN KEY (`id_tipo_evento_reproductivo`) REFERENCES `tipos_evento_reproductivo` (`id_tipo_evento_reproductivo`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `eventos_reproductivos`
--

LOCK TABLES `eventos_reproductivos` WRITE;
/*!40000 ALTER TABLE `eventos_reproductivos` DISABLE KEYS */;
/*!40000 ALTER TABLE `eventos_reproductivos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `eventos_sanitarios`
--

DROP TABLE IF EXISTS `eventos_sanitarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `eventos_sanitarios` (
  `id_evento_sanitario` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned NOT NULL,
  `id_animal` bigint unsigned NOT NULL,
  `fecha` date NOT NULL,
  `id_enfermedad` bigint unsigned DEFAULT NULL,
  `descripcion` text,
  `created_by` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_evento_sanitario`),
  KEY `idx_es_animal_fecha` (`id_animal`,`empresa_id`,`fecha`),
  KEY `idx_es_created_by` (`created_by`),
  KEY `idx_es_enfermedad` (`id_enfermedad`),
  CONSTRAINT `fk_es_animal` FOREIGN KEY (`id_animal`, `empresa_id`) REFERENCES `animales` (`id_animal`, `empresa_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_es_created_by` FOREIGN KEY (`created_by`) REFERENCES `usuarios` (`id_usuario`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_es_enfermedad` FOREIGN KEY (`id_enfermedad`) REFERENCES `enfermedades` (`id_enfermedad`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `eventos_sanitarios`
--

LOCK TABLES `eventos_sanitarios` WRITE;
/*!40000 ALTER TABLE `eventos_sanitarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `eventos_sanitarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fincas`
--

DROP TABLE IF EXISTS `fincas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fincas` (
  `id_finca` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned NOT NULL,
  `nombre` varchar(160) NOT NULL,
  `area_hectareas` decimal(12,2) DEFAULT NULL,
  `moneda_base_id` bigint unsigned NOT NULL,
  `direccion` varchar(255) DEFAULT NULL,
  `notas` text,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_finca`,`empresa_id`),
  UNIQUE KEY `uq_fincas_empresa_nombre` (`empresa_id`,`nombre`),
  KEY `idx_fincas_moneda` (`moneda_base_id`),
  CONSTRAINT `fk_fincas_empresa` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id_empresa`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_fincas_moneda` FOREIGN KEY (`moneda_base_id`) REFERENCES `monedas` (`id_moneda`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fincas`
--

LOCK TABLES `fincas` WRITE;
/*!40000 ALTER TABLE `fincas` DISABLE KEYS */;
/*!40000 ALTER TABLE `fincas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lactancias`
--

DROP TABLE IF EXISTS `lactancias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lactancias` (
  `id_lactancia` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned NOT NULL,
  `id_animal` bigint unsigned NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date DEFAULT NULL,
  `observaciones` text,
  PRIMARY KEY (`id_lactancia`),
  KEY `idx_lac_animal_inicio` (`id_animal`,`empresa_id`,`fecha_inicio`),
  CONSTRAINT `fk_lac_animal` FOREIGN KEY (`id_animal`, `empresa_id`) REFERENCES `animales` (`id_animal`, `empresa_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lactancias`
--

LOCK TABLES `lactancias` WRITE;
/*!40000 ALTER TABLE `lactancias` DISABLE KEYS */;
/*!40000 ALTER TABLE `lactancias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `liquidaciones_leche`
--

DROP TABLE IF EXISTS `liquidaciones_leche`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `liquidaciones_leche` (
  `id_liquidacion` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned NOT NULL,
  `id_finca` bigint unsigned NOT NULL,
  `id_centro` bigint unsigned NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date NOT NULL,
  `litros_pagados` decimal(12,3) NOT NULL,
  `precio_por_litro` decimal(18,6) DEFAULT NULL,
  `monto_pagado` decimal(18,2) DEFAULT NULL,
  `moneda_id` bigint unsigned NOT NULL,
  `tasa_cambio` decimal(18,8) DEFAULT NULL,
  `notas` text,
  `created_by` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_liquidacion`),
  KEY `idx_ll_centro_rango` (`id_centro`,`empresa_id`,`fecha_inicio`,`fecha_fin`),
  KEY `idx_ll_created_by` (`created_by`),
  KEY `idx_ll_finca_rango` (`id_finca`,`empresa_id`,`fecha_inicio`,`fecha_fin`),
  KEY `idx_ll_moneda` (`moneda_id`),
  CONSTRAINT `fk_ll_centro` FOREIGN KEY (`id_centro`, `empresa_id`) REFERENCES `centros_recepcion` (`id_centro`, `empresa_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_ll_created_by` FOREIGN KEY (`created_by`) REFERENCES `usuarios` (`id_usuario`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_ll_finca` FOREIGN KEY (`id_finca`, `empresa_id`) REFERENCES `fincas` (`id_finca`, `empresa_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_ll_moneda` FOREIGN KEY (`moneda_id`) REFERENCES `monedas` (`id_moneda`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `liquidaciones_leche`
--

LOCK TABLES `liquidaciones_leche` WRITE;
/*!40000 ALTER TABLE `liquidaciones_leche` DISABLE KEYS */;
/*!40000 ALTER TABLE `liquidaciones_leche` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lotes`
--

DROP TABLE IF EXISTS `lotes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lotes` (
  `id_lote` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned NOT NULL,
  `id_finca` bigint unsigned NOT NULL,
  `nombre` varchar(160) NOT NULL,
  `descripcion` text,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id_lote`,`empresa_id`),
  UNIQUE KEY `uq_lotes_empresa_finca_nombre` (`empresa_id`,`id_finca`,`nombre`),
  KEY `idx_lotes_finca` (`id_finca`,`empresa_id`),
  CONSTRAINT `fk_lotes_finca` FOREIGN KEY (`id_finca`, `empresa_id`) REFERENCES `fincas` (`id_finca`, `empresa_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lotes`
--

LOCK TABLES `lotes` WRITE;
/*!40000 ALTER TABLE `lotes` DISABLE KEYS */;
/*!40000 ALTER TABLE `lotes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medicamentos`
--

DROP TABLE IF EXISTS `medicamentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `medicamentos` (
  `id_medicamento` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned DEFAULT NULL,
  `empresa_id_u` bigint unsigned DEFAULT NULL,
  `codigo` varchar(60) NOT NULL,
  `nombre` varchar(160) NOT NULL,
  `principio_activo` varchar(160) DEFAULT NULL,
  PRIMARY KEY (`id_medicamento`),
  UNIQUE KEY `uq_med_empresa_codigo` (`empresa_id_u`,`codigo`),
  KEY `idx_med_empresa` (`empresa_id`),
  CONSTRAINT `fk_med_empresa` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id_empresa`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medicamentos`
--

LOCK TABLES `medicamentos` WRITE;
/*!40000 ALTER TABLE `medicamentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `medicamentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `metodos_auditoria`
--

DROP TABLE IF EXISTS `metodos_auditoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `metodos_auditoria` (
  `id_metodo_auditoria` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned DEFAULT NULL,
  `empresa_id_u` bigint unsigned DEFAULT NULL,
  `codigo` varchar(60) NOT NULL,
  `nombre` varchar(140) NOT NULL,
  PRIMARY KEY (`id_metodo_auditoria`),
  UNIQUE KEY `uq_ma_empresa_codigo` (`empresa_id_u`,`codigo`),
  KEY `idx_ma_empresa` (`empresa_id`),
  CONSTRAINT `fk_ma_empresa` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id_empresa`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `metodos_auditoria`
--

LOCK TABLES `metodos_auditoria` WRITE;
/*!40000 ALTER TABLE `metodos_auditoria` DISABLE KEYS */;
INSERT INTO `metodos_auditoria` VALUES (1,NULL,NULL,'conteo_manual','Conteo manual'),(2,NULL,NULL,'lector_chip','Lector de microchip');
/*!40000 ALTER TABLE `metodos_auditoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `monedas`
--

DROP TABLE IF EXISTS `monedas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `monedas` (
  `id_moneda` bigint unsigned NOT NULL AUTO_INCREMENT,
  `codigo` varchar(10) NOT NULL,
  `nombre` varchar(80) NOT NULL,
  `simbolo` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`id_moneda`),
  UNIQUE KEY `uq_monedas_codigo` (`codigo`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `monedas`
--

LOCK TABLES `monedas` WRITE;
/*!40000 ALTER TABLE `monedas` DISABLE KEYS */;
INSERT INTO `monedas` VALUES (1,'COP','Peso colombiano','$'),(2,'USD','D├│lar estadounidense','$'),(3,'VES','Bol├¡var venezolano','Bs.');
/*!40000 ALTER TABLE `monedas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `motivos_movimiento`
--

DROP TABLE IF EXISTS `motivos_movimiento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `motivos_movimiento` (
  `id_motivo_movimiento` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned DEFAULT NULL,
  `empresa_id_u` bigint unsigned DEFAULT NULL,
  `codigo` varchar(60) NOT NULL,
  `nombre` varchar(140) NOT NULL,
  PRIMARY KEY (`id_motivo_movimiento`),
  UNIQUE KEY `uq_mm_empresa_codigo` (`empresa_id_u`,`codigo`),
  KEY `idx_mm_empresa` (`empresa_id`),
  CONSTRAINT `fk_mm_empresa` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id_empresa`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `motivos_movimiento`
--

LOCK TABLES `motivos_movimiento` WRITE;
/*!40000 ALTER TABLE `motivos_movimiento` DISABLE KEYS */;
INSERT INTO `motivos_movimiento` VALUES (1,NULL,NULL,'rotacion','Rotaci├│n'),(2,NULL,NULL,'destete','Destete'),(3,NULL,NULL,'secado','Secado'),(4,NULL,NULL,'fuga','Fuga'),(5,NULL,NULL,'ajuste_inventario','Ajuste de inventario');
/*!40000 ALTER TABLE `motivos_movimiento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `movimientos_animales`
--

DROP TABLE IF EXISTS `movimientos_animales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `movimientos_animales` (
  `id_movimiento` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned NOT NULL,
  `id_finca` bigint unsigned NOT NULL,
  `fecha_hora` datetime NOT NULL,
  `id_animal` bigint unsigned NOT NULL,
  `lote_origen_id` bigint unsigned DEFAULT NULL,
  `lote_destino_id` bigint unsigned DEFAULT NULL,
  `potrero_origen_id` bigint unsigned DEFAULT NULL,
  `potrero_destino_id` bigint unsigned DEFAULT NULL,
  `id_motivo_movimiento` bigint unsigned DEFAULT NULL,
  `observaciones` text,
  `created_by` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_movimiento`),
  KEY `idx_mov_animal_fecha` (`id_animal`,`empresa_id`,`fecha_hora`),
  KEY `idx_mov_created_by` (`created_by`),
  KEY `idx_mov_finca_fecha` (`id_finca`,`empresa_id`,`fecha_hora`),
  KEY `idx_mov_lote_dest` (`lote_destino_id`,`empresa_id`),
  KEY `idx_mov_lote_origen` (`lote_origen_id`,`empresa_id`),
  KEY `idx_mov_motivo` (`id_motivo_movimiento`),
  KEY `idx_mov_pot_dest` (`potrero_destino_id`,`empresa_id`),
  KEY `idx_mov_pot_origen` (`potrero_origen_id`,`empresa_id`),
  CONSTRAINT `fk_mov_animal` FOREIGN KEY (`id_animal`, `empresa_id`) REFERENCES `animales` (`id_animal`, `empresa_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_mov_created_by` FOREIGN KEY (`created_by`) REFERENCES `usuarios` (`id_usuario`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_mov_finca` FOREIGN KEY (`id_finca`, `empresa_id`) REFERENCES `fincas` (`id_finca`, `empresa_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_mov_lote_dest` FOREIGN KEY (`lote_destino_id`, `empresa_id`) REFERENCES `lotes` (`id_lote`, `empresa_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_mov_lote_origen` FOREIGN KEY (`lote_origen_id`, `empresa_id`) REFERENCES `lotes` (`id_lote`, `empresa_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_mov_motivo` FOREIGN KEY (`id_motivo_movimiento`) REFERENCES `motivos_movimiento` (`id_motivo_movimiento`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_mov_potrero_dest` FOREIGN KEY (`potrero_destino_id`, `empresa_id`) REFERENCES `potreros` (`id_potrero`, `empresa_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_mov_potrero_origen` FOREIGN KEY (`potrero_origen_id`, `empresa_id`) REFERENCES `potreros` (`id_potrero`, `empresa_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `movimientos_animales`
--

LOCK TABLES `movimientos_animales` WRITE;
/*!40000 ALTER TABLE `movimientos_animales` DISABLE KEYS */;
/*!40000 ALTER TABLE `movimientos_animales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ocupacion_potreros`
--

DROP TABLE IF EXISTS `ocupacion_potreros`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ocupacion_potreros` (
  `id_ocupacion` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned NOT NULL,
  `id_finca` bigint unsigned NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date DEFAULT NULL,
  `id_lote` bigint unsigned NOT NULL,
  `id_potrero` bigint unsigned NOT NULL,
  `notas` text,
  PRIMARY KEY (`id_ocupacion`),
  KEY `idx_op_finca` (`id_finca`,`empresa_id`),
  KEY `idx_op_lote` (`id_lote`,`empresa_id`,`fecha_inicio`),
  KEY `idx_op_potrero` (`id_potrero`,`empresa_id`,`fecha_inicio`),
  CONSTRAINT `fk_op_finca` FOREIGN KEY (`id_finca`, `empresa_id`) REFERENCES `fincas` (`id_finca`, `empresa_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_op_lote` FOREIGN KEY (`id_lote`, `empresa_id`) REFERENCES `lotes` (`id_lote`, `empresa_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_op_potrero` FOREIGN KEY (`id_potrero`, `empresa_id`) REFERENCES `potreros` (`id_potrero`, `empresa_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ocupacion_potreros`
--

LOCK TABLES `ocupacion_potreros` WRITE;
/*!40000 ALTER TABLE `ocupacion_potreros` DISABLE KEYS */;
/*!40000 ALTER TABLE `ocupacion_potreros` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permisos`
--

DROP TABLE IF EXISTS `permisos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `permisos` (
  `id_permiso` bigint unsigned NOT NULL AUTO_INCREMENT,
  `codigo` varchar(80) NOT NULL,
  `nombre` varchar(140) NOT NULL,
  `descripcion` text,
  PRIMARY KEY (`id_permiso`),
  UNIQUE KEY `uq_permisos_codigo` (`codigo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permisos`
--

LOCK TABLES `permisos` WRITE;
/*!40000 ALTER TABLE `permisos` DISABLE KEYS */;
/*!40000 ALTER TABLE `permisos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `planes`
--

DROP TABLE IF EXISTS `planes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `planes` (
  `id_plan` bigint unsigned NOT NULL AUTO_INCREMENT,
  `codigo` varchar(50) NOT NULL,
  `nombre` varchar(120) NOT NULL,
  `descripcion` text,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_plan`),
  UNIQUE KEY `uq_planes_codigo` (`codigo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `planes`
--

LOCK TABLES `planes` WRITE;
/*!40000 ALTER TABLE `planes` DISABLE KEYS */;
/*!40000 ALTER TABLE `planes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `potreros`
--

DROP TABLE IF EXISTS `potreros`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `potreros` (
  `id_potrero` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned NOT NULL,
  `id_finca` bigint unsigned NOT NULL,
  `nombre` varchar(160) NOT NULL,
  `area_hectareas` decimal(12,2) DEFAULT NULL,
  `id_tipo_potrero` bigint unsigned DEFAULT NULL,
  `notas` text,
  PRIMARY KEY (`id_potrero`,`empresa_id`),
  UNIQUE KEY `uq_potreros_empresa_finca_nombre` (`empresa_id`,`id_finca`,`nombre`),
  KEY `idx_potreros_finca` (`id_finca`,`empresa_id`),
  KEY `idx_potreros_tipo` (`id_tipo_potrero`),
  CONSTRAINT `fk_potreros_finca` FOREIGN KEY (`id_finca`, `empresa_id`) REFERENCES `fincas` (`id_finca`, `empresa_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_potreros_tipo` FOREIGN KEY (`id_tipo_potrero`) REFERENCES `tipos_potrero` (`id_tipo_potrero`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `potreros`
--

LOCK TABLES `potreros` WRITE;
/*!40000 ALTER TABLE `potreros` DISABLE KEYS */;
/*!40000 ALTER TABLE `potreros` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `produccion_leche`
--

DROP TABLE IF EXISTS `produccion_leche`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `produccion_leche` (
  `id_produccion` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned NOT NULL,
  `id_finca` bigint unsigned NOT NULL,
  `fecha` date NOT NULL,
  `id_turno` bigint unsigned DEFAULT NULL,
  `litros` decimal(12,3) NOT NULL,
  `notas` text,
  `created_by` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_produccion`),
  UNIQUE KEY `uq_pl_finca_fecha_turno` (`empresa_id`,`id_finca`,`fecha`,`id_turno`),
  KEY `idx_pl_created_by` (`created_by`),
  KEY `idx_pl_finca_fecha` (`id_finca`,`empresa_id`,`fecha`),
  KEY `idx_pl_turno` (`id_turno`),
  CONSTRAINT `fk_pl_created_by` FOREIGN KEY (`created_by`) REFERENCES `usuarios` (`id_usuario`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_pl_finca` FOREIGN KEY (`id_finca`, `empresa_id`) REFERENCES `fincas` (`id_finca`, `empresa_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_pl_turno` FOREIGN KEY (`id_turno`) REFERENCES `turnos_ordenio` (`id_turno`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produccion_leche`
--

LOCK TABLES `produccion_leche` WRITE;
/*!40000 ALTER TABLE `produccion_leche` DISABLE KEYS */;
/*!40000 ALTER TABLE `produccion_leche` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `protocolo_ejecucion_tareas`
--

DROP TABLE IF EXISTS `protocolo_ejecucion_tareas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `protocolo_ejecucion_tareas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_ejecucion` bigint unsigned NOT NULL,
  `id_tarea` bigint unsigned NOT NULL,
  `completada` tinyint(1) NOT NULL DEFAULT '0',
  `fecha` date DEFAULT NULL,
  `responsable` varchar(160) DEFAULT NULL,
  `notas` text,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_pet_ejecucion_tarea` (`id_ejecucion`,`id_tarea`),
  KEY `idx_pet_tarea` (`id_tarea`),
  CONSTRAINT `fk_pet_ejecucion` FOREIGN KEY (`id_ejecucion`) REFERENCES `protocolo_ejecuciones` (`id_ejecucion`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_pet_tarea` FOREIGN KEY (`id_tarea`) REFERENCES `protocolo_tareas` (`id_tarea`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `protocolo_ejecucion_tareas`
--

LOCK TABLES `protocolo_ejecucion_tareas` WRITE;
/*!40000 ALTER TABLE `protocolo_ejecucion_tareas` DISABLE KEYS */;
/*!40000 ALTER TABLE `protocolo_ejecucion_tareas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `protocolo_ejecuciones`
--

DROP TABLE IF EXISTS `protocolo_ejecuciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `protocolo_ejecuciones` (
  `id_ejecucion` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned NOT NULL,
  `id_protocolo` bigint unsigned NOT NULL,
  `id_animal` bigint unsigned NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_cierre` date DEFAULT NULL,
  `observaciones` text,
  `created_by` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_ejecucion`),
  KEY `idx_pe_animal` (`id_animal`,`empresa_id`,`fecha_inicio`),
  KEY `idx_pe_created_by` (`created_by`),
  KEY `idx_pe_protocolo` (`id_protocolo`),
  CONSTRAINT `fk_pe_animal` FOREIGN KEY (`id_animal`, `empresa_id`) REFERENCES `animales` (`id_animal`, `empresa_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_pe_created_by` FOREIGN KEY (`created_by`) REFERENCES `usuarios` (`id_usuario`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_pe_protocolo` FOREIGN KEY (`id_protocolo`) REFERENCES `protocolos` (`id_protocolo`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `protocolo_ejecuciones`
--

LOCK TABLES `protocolo_ejecuciones` WRITE;
/*!40000 ALTER TABLE `protocolo_ejecuciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `protocolo_ejecuciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `protocolo_tareas`
--

DROP TABLE IF EXISTS `protocolo_tareas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `protocolo_tareas` (
  `id_tarea` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_protocolo` bigint unsigned NOT NULL,
  `nombre` varchar(160) NOT NULL,
  `dia_objetivo` int NOT NULL,
  `obligatorio` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id_tarea`),
  KEY `idx_pt_protocolo` (`id_protocolo`),
  CONSTRAINT `fk_pt_protocolo` FOREIGN KEY (`id_protocolo`) REFERENCES `protocolos` (`id_protocolo`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `protocolo_tareas`
--

LOCK TABLES `protocolo_tareas` WRITE;
/*!40000 ALTER TABLE `protocolo_tareas` DISABLE KEYS */;
/*!40000 ALTER TABLE `protocolo_tareas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `protocolos`
--

DROP TABLE IF EXISTS `protocolos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `protocolos` (
  `id_protocolo` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned DEFAULT NULL,
  `empresa_id_u` bigint unsigned DEFAULT NULL,
  `codigo` varchar(60) NOT NULL,
  `nombre` varchar(160) NOT NULL,
  `descripcion` text,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id_protocolo`),
  UNIQUE KEY `uq_pr_empresa_codigo` (`empresa_id_u`,`codigo`),
  KEY `idx_pr_empresa` (`empresa_id`),
  CONSTRAINT `fk_pr_empresa` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id_empresa`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `protocolos`
--

LOCK TABLES `protocolos` WRITE;
/*!40000 ALTER TABLE `protocolos` DISABLE KEYS */;
/*!40000 ALTER TABLE `protocolos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `razas`
--

DROP TABLE IF EXISTS `razas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `razas` (
  `id_raza` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned DEFAULT NULL,
  `empresa_id_u` bigint unsigned DEFAULT NULL,
  `codigo` varchar(60) NOT NULL,
  `nombre` varchar(140) NOT NULL,
  PRIMARY KEY (`id_raza`),
  UNIQUE KEY `uq_razas_empresa_codigo` (`empresa_id_u`,`codigo`),
  KEY `idx_razas_empresa` (`empresa_id`),
  CONSTRAINT `fk_razas_empresa` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id_empresa`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `razas`
--

LOCK TABLES `razas` WRITE;
/*!40000 ALTER TABLE `razas` DISABLE KEYS */;
/*!40000 ALTER TABLE `razas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recordatorios`
--

DROP TABLE IF EXISTS `recordatorios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recordatorios` (
  `id_recordatorio` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned NOT NULL,
  `id_tipo_recordatorio` bigint unsigned NOT NULL,
  `id_animal` bigint unsigned DEFAULT NULL,
  `fecha_programada` date NOT NULL,
  `descripcion` varchar(200) DEFAULT NULL,
  `estado_codigo` varchar(30) NOT NULL DEFAULT 'pendiente',
  `id_tratamiento` bigint unsigned DEFAULT NULL,
  `id_retiro` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_recordatorio`),
  KEY `fk_rec_retiro` (`id_retiro`),
  KEY `fk_rec_tratamiento` (`id_tratamiento`),
  KEY `idx_rec_animal` (`id_animal`,`empresa_id`),
  KEY `idx_rec_empresa_fecha` (`empresa_id`,`fecha_programada`),
  KEY `idx_rec_estado` (`estado_codigo`),
  KEY `idx_rec_tipo` (`id_tipo_recordatorio`),
  CONSTRAINT `fk_rec_animal` FOREIGN KEY (`id_animal`, `empresa_id`) REFERENCES `animales` (`id_animal`, `empresa_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_rec_empresa` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id_empresa`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_rec_estado` FOREIGN KEY (`estado_codigo`) REFERENCES `estados_recordatorio` (`codigo`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_rec_retiro` FOREIGN KEY (`id_retiro`) REFERENCES `retiros` (`id_retiro`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_rec_tipo` FOREIGN KEY (`id_tipo_recordatorio`) REFERENCES `tipos_recordatorio` (`id_tipo_recordatorio`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_rec_tratamiento` FOREIGN KEY (`id_tratamiento`) REFERENCES `tratamientos` (`id_tratamiento`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recordatorios`
--

LOCK TABLES `recordatorios` WRITE;
/*!40000 ALTER TABLE `recordatorios` DISABLE KEYS */;
/*!40000 ALTER TABLE `recordatorios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `resultados_palpacion`
--

DROP TABLE IF EXISTS `resultados_palpacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `resultados_palpacion` (
  `id_resultado_palpacion` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned DEFAULT NULL,
  `empresa_id_u` bigint unsigned DEFAULT NULL,
  `codigo` varchar(40) NOT NULL,
  `nombre` varchar(120) NOT NULL,
  PRIMARY KEY (`id_resultado_palpacion`),
  UNIQUE KEY `uq_rp_empresa_codigo` (`empresa_id_u`,`codigo`),
  KEY `idx_rp_empresa` (`empresa_id`),
  CONSTRAINT `fk_rp_empresa` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id_empresa`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `resultados_palpacion`
--

LOCK TABLES `resultados_palpacion` WRITE;
/*!40000 ALTER TABLE `resultados_palpacion` DISABLE KEYS */;
INSERT INTO `resultados_palpacion` VALUES (1,NULL,NULL,'prenada','Pre├▒ada'),(2,NULL,NULL,'vacia','Vac├¡a'),(3,NULL,NULL,'dudosa','Dudosa');
/*!40000 ALTER TABLE `resultados_palpacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `retiros`
--

DROP TABLE IF EXISTS `retiros`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `retiros` (
  `id_retiro` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_tratamiento` bigint unsigned NOT NULL,
  `id_tipo_retiro` bigint unsigned NOT NULL,
  `dias_retiro` int NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date NOT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id_retiro`),
  KEY `idx_ret_fechas` (`fecha_inicio`,`fecha_fin`),
  KEY `idx_ret_tipo` (`id_tipo_retiro`),
  KEY `idx_ret_tratamiento` (`id_tratamiento`),
  CONSTRAINT `fk_ret_tipo` FOREIGN KEY (`id_tipo_retiro`) REFERENCES `tipos_retiro` (`id_tipo_retiro`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_ret_tratamiento` FOREIGN KEY (`id_tratamiento`) REFERENCES `tratamientos` (`id_tratamiento`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `retiros`
--

LOCK TABLES `retiros` WRITE;
/*!40000 ALTER TABLE `retiros` DISABLE KEYS */;
/*!40000 ALTER TABLE `retiros` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id_rol` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_ambito_rol` bigint unsigned NOT NULL,
  `codigo` varchar(50) NOT NULL,
  `nombre` varchar(120) NOT NULL,
  `descripcion` text,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  `empresa_id` bigint unsigned DEFAULT NULL,
  PRIMARY KEY (`id_rol`),
  UNIQUE KEY `uq_roles_empresa_codigo` (`empresa_id`,`codigo`),
  UNIQUE KEY `uq_roles_empresa_nombre` (`empresa_id`,`nombre`),
  KEY `idx_roles_ambito` (`id_ambito_rol`),
  KEY `idx_roles_empresa` (`empresa_id`),
  CONSTRAINT `fk_roles_ambito` FOREIGN KEY (`id_ambito_rol`) REFERENCES `ambitos_rol` (`id_ambito_rol`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_roles_empresa` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id_empresa`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,1,'admin_empresa','Administrador (Empresa)','Acceso total a nivel empresa',1,NULL),(2,2,'admin_finca','Administrador (Finca)','Acceso total a nivel finca',1,NULL);
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles_permisos`
--

DROP TABLE IF EXISTS `roles_permisos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles_permisos` (
  `id_rol` bigint unsigned NOT NULL,
  `id_permiso` bigint unsigned NOT NULL,
  PRIMARY KEY (`id_rol`,`id_permiso`),
  KEY `idx_rp_permiso` (`id_permiso`),
  CONSTRAINT `fk_rp_permiso` FOREIGN KEY (`id_permiso`) REFERENCES `permisos` (`id_permiso`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_rp_rol` FOREIGN KEY (`id_rol`) REFERENCES `roles` (`id_rol`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles_permisos`
--

LOCK TABLES `roles_permisos` WRITE;
/*!40000 ALTER TABLE `roles_permisos` DISABLE KEYS */;
/*!40000 ALTER TABLE `roles_permisos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tasas_cambio`
--

DROP TABLE IF EXISTS `tasas_cambio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tasas_cambio` (
  `id_tasa` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned DEFAULT NULL,
  `empresa_id_u` bigint unsigned DEFAULT NULL,
  `fecha` date NOT NULL,
  `moneda_origen_id` bigint unsigned NOT NULL,
  `moneda_destino_id` bigint unsigned NOT NULL,
  `tasa` decimal(18,8) NOT NULL,
  `fuente` varchar(120) DEFAULT NULL,
  PRIMARY KEY (`id_tasa`),
  UNIQUE KEY `uq_tc_fecha_par_empresa` (`empresa_id_u`,`fecha`,`moneda_origen_id`,`moneda_destino_id`),
  KEY `idx_tc_dest` (`moneda_destino_id`),
  KEY `idx_tc_empresa` (`empresa_id`),
  KEY `idx_tc_origen` (`moneda_origen_id`),
  CONSTRAINT `fk_tc_destino` FOREIGN KEY (`moneda_destino_id`) REFERENCES `monedas` (`id_moneda`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_tc_empresa` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id_empresa`) ON DELETE RESTRICT ON UPDATE RESTRICT,
  CONSTRAINT `fk_tc_origen` FOREIGN KEY (`moneda_origen_id`) REFERENCES `monedas` (`id_moneda`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tasas_cambio`
--

LOCK TABLES `tasas_cambio` WRITE;
/*!40000 ALTER TABLE `tasas_cambio` DISABLE KEYS */;
/*!40000 ALTER TABLE `tasas_cambio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipos_adjunto`
--

DROP TABLE IF EXISTS `tipos_adjunto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tipos_adjunto` (
  `id_tipo_adjunto` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned DEFAULT NULL,
  `empresa_id_u` bigint unsigned DEFAULT NULL,
  `codigo` varchar(60) NOT NULL,
  `nombre` varchar(140) NOT NULL,
  PRIMARY KEY (`id_tipo_adjunto`),
  UNIQUE KEY `uq_ta_empresa_codigo` (`empresa_id_u`,`codigo`),
  KEY `idx_ta_empresa` (`empresa_id`),
  CONSTRAINT `fk_ta_empresa` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id_empresa`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipos_adjunto`
--

LOCK TABLES `tipos_adjunto` WRITE;
/*!40000 ALTER TABLE `tipos_adjunto` DISABLE KEYS */;
INSERT INTO `tipos_adjunto` VALUES (1,NULL,NULL,'foto_factura','Foto de factura'),(2,NULL,NULL,'pdf','PDF'),(3,NULL,NULL,'imagen','Imagen'),(4,NULL,NULL,'otro','Otro');
/*!40000 ALTER TABLE `tipos_adjunto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipos_evento_reproductivo`
--

DROP TABLE IF EXISTS `tipos_evento_reproductivo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tipos_evento_reproductivo` (
  `id_tipo_evento_reproductivo` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned DEFAULT NULL,
  `empresa_id_u` bigint unsigned DEFAULT NULL,
  `codigo` varchar(40) NOT NULL,
  `nombre` varchar(120) NOT NULL,
  PRIMARY KEY (`id_tipo_evento_reproductivo`),
  UNIQUE KEY `uq_ter_empresa_codigo` (`empresa_id_u`,`codigo`),
  KEY `idx_ter_empresa` (`empresa_id`),
  CONSTRAINT `fk_ter_empresa` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id_empresa`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipos_evento_reproductivo`
--

LOCK TABLES `tipos_evento_reproductivo` WRITE;
/*!40000 ALTER TABLE `tipos_evento_reproductivo` DISABLE KEYS */;
INSERT INTO `tipos_evento_reproductivo` VALUES (1,NULL,NULL,'celo','Celo'),(2,NULL,NULL,'servicio','Servicio / Monta / Inseminaci├│n'),(3,NULL,NULL,'palpacion','Palpaci├│n'),(4,NULL,NULL,'parto','Parto'),(5,NULL,NULL,'aborto','Aborto');
/*!40000 ALTER TABLE `tipos_evento_reproductivo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipos_identificacion`
--

DROP TABLE IF EXISTS `tipos_identificacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tipos_identificacion` (
  `id_tipo_identificacion` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned DEFAULT NULL,
  `empresa_id_u` bigint unsigned DEFAULT NULL,
  `codigo` varchar(40) NOT NULL,
  `nombre` varchar(120) NOT NULL,
  PRIMARY KEY (`id_tipo_identificacion`),
  UNIQUE KEY `uq_ti_empresa_codigo` (`empresa_id_u`,`codigo`),
  KEY `idx_ti_empresa` (`empresa_id`),
  CONSTRAINT `fk_ti_empresa` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id_empresa`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipos_identificacion`
--

LOCK TABLES `tipos_identificacion` WRITE;
/*!40000 ALTER TABLE `tipos_identificacion` DISABLE KEYS */;
INSERT INTO `tipos_identificacion` VALUES (1,NULL,NULL,'hierro_lomo','Hierro / marca'),(2,NULL,NULL,'arete','Arete'),(3,NULL,NULL,'tatuaje_oreja','Tatuaje en oreja'),(4,NULL,NULL,'microchip','Microchip');
/*!40000 ALTER TABLE `tipos_identificacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipos_potrero`
--

DROP TABLE IF EXISTS `tipos_potrero`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tipos_potrero` (
  `id_tipo_potrero` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned DEFAULT NULL,
  `empresa_id_u` bigint unsigned DEFAULT NULL,
  `codigo` varchar(60) NOT NULL,
  `nombre` varchar(140) NOT NULL,
  PRIMARY KEY (`id_tipo_potrero`),
  UNIQUE KEY `uq_tp_empresa_codigo` (`empresa_id_u`,`codigo`),
  KEY `idx_tp_empresa` (`empresa_id`),
  CONSTRAINT `fk_tp_empresa` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id_empresa`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipos_potrero`
--

LOCK TABLES `tipos_potrero` WRITE;
/*!40000 ALTER TABLE `tipos_potrero` DISABLE KEYS */;
/*!40000 ALTER TABLE `tipos_potrero` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipos_recordatorio`
--

DROP TABLE IF EXISTS `tipos_recordatorio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tipos_recordatorio` (
  `id_tipo_recordatorio` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned DEFAULT NULL,
  `empresa_id_u` bigint unsigned DEFAULT NULL,
  `codigo` varchar(80) NOT NULL,
  `nombre` varchar(160) NOT NULL,
  PRIMARY KEY (`id_tipo_recordatorio`),
  UNIQUE KEY `uq_trc_empresa_codigo` (`empresa_id_u`,`codigo`),
  KEY `idx_trc_empresa` (`empresa_id`),
  CONSTRAINT `fk_trc_empresa` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id_empresa`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipos_recordatorio`
--

LOCK TABLES `tipos_recordatorio` WRITE;
/*!40000 ALTER TABLE `tipos_recordatorio` DISABLE KEYS */;
INSERT INTO `tipos_recordatorio` VALUES (1,NULL,NULL,'retiro_leche','Retiro de leche'),(2,NULL,NULL,'retiro_carne','Retiro de carne'),(3,NULL,NULL,'vacuna','Vacunaci├│n'),(4,NULL,NULL,'palpacion','Palpaci├│n / chequeo'),(5,NULL,NULL,'destete','Destete'),(6,NULL,NULL,'otro','Otro');
/*!40000 ALTER TABLE `tipos_recordatorio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipos_retiro`
--

DROP TABLE IF EXISTS `tipos_retiro`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tipos_retiro` (
  `id_tipo_retiro` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned DEFAULT NULL,
  `empresa_id_u` bigint unsigned DEFAULT NULL,
  `codigo` varchar(40) NOT NULL,
  `nombre` varchar(120) NOT NULL,
  PRIMARY KEY (`id_tipo_retiro`),
  UNIQUE KEY `uq_tr_empresa_codigo` (`empresa_id_u`,`codigo`),
  KEY `idx_tr_empresa` (`empresa_id`),
  CONSTRAINT `fk_tr_empresa` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id_empresa`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipos_retiro`
--

LOCK TABLES `tipos_retiro` WRITE;
/*!40000 ALTER TABLE `tipos_retiro` DISABLE KEYS */;
/*!40000 ALTER TABLE `tipos_retiro` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipos_transaccion`
--

DROP TABLE IF EXISTS `tipos_transaccion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tipos_transaccion` (
  `id_tipo_transaccion` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned DEFAULT NULL,
  `empresa_id_u` bigint unsigned DEFAULT NULL,
  `codigo` varchar(30) NOT NULL,
  `nombre` varchar(120) NOT NULL,
  PRIMARY KEY (`id_tipo_transaccion`),
  UNIQUE KEY `uq_tt_empresa_codigo` (`empresa_id_u`,`codigo`),
  KEY `idx_tt_empresa` (`empresa_id`),
  CONSTRAINT `fk_tt_empresa` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id_empresa`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipos_transaccion`
--

LOCK TABLES `tipos_transaccion` WRITE;
/*!40000 ALTER TABLE `tipos_transaccion` DISABLE KEYS */;
INSERT INTO `tipos_transaccion` VALUES (1,NULL,NULL,'ingreso','Ingreso'),(2,NULL,NULL,'gasto','Gasto');
/*!40000 ALTER TABLE `tipos_transaccion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transacciones_financieras`
--

DROP TABLE IF EXISTS `transacciones_financieras`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transacciones_financieras` (
  `id_transaccion` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned NOT NULL,
  `fecha` date NOT NULL,
  `id_tipo_transaccion` bigint unsigned NOT NULL,
  `id_categoria_financiera` bigint unsigned NOT NULL,
  `monto` decimal(18,2) NOT NULL,
  `descripcion` text,
  `id_tercero` bigint unsigned DEFAULT NULL,
  `created_by` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_transaccion`),
  KEY `fk_tf_created_by` (`created_by`),
  KEY `idx_tf_cat` (`id_categoria_financiera`),
  KEY `idx_tf_empresa_fecha` (`empresa_id`,`fecha`),
  KEY `idx_tf_tipo` (`id_tipo_transaccion`),
  CONSTRAINT `fk_tf_categoria` FOREIGN KEY (`id_categoria_financiera`) REFERENCES `categorias_financieras` (`id_categoria_financiera`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_tf_created_by` FOREIGN KEY (`created_by`) REFERENCES `usuarios` (`id_usuario`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_tf_empresa` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id_empresa`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_tf_tipo` FOREIGN KEY (`id_tipo_transaccion`) REFERENCES `tipos_transaccion` (`id_tipo_transaccion`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transacciones_financieras`
--

LOCK TABLES `transacciones_financieras` WRITE;
/*!40000 ALTER TABLE `transacciones_financieras` DISABLE KEYS */;
/*!40000 ALTER TABLE `transacciones_financieras` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tratamientos`
--

DROP TABLE IF EXISTS `tratamientos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tratamientos` (
  `id_tratamiento` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned NOT NULL,
  `id_evento_sanitario` bigint unsigned DEFAULT NULL,
  `id_animal` bigint unsigned NOT NULL,
  `fecha_inicio` date NOT NULL,
  `id_medicamento` bigint unsigned NOT NULL,
  `dosis` varchar(120) DEFAULT NULL,
  `via_administracion` varchar(120) DEFAULT NULL,
  `notas` text,
  `created_by` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_tratamiento`),
  KEY `idx_tr_animal_fecha` (`id_animal`,`empresa_id`,`fecha_inicio`),
  KEY `idx_tr_created_by` (`created_by`),
  KEY `idx_tr_evento` (`id_evento_sanitario`),
  KEY `idx_tr_medicamento` (`id_medicamento`),
  CONSTRAINT `fk_tr_animal` FOREIGN KEY (`id_animal`, `empresa_id`) REFERENCES `animales` (`id_animal`, `empresa_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_tr_created_by` FOREIGN KEY (`created_by`) REFERENCES `usuarios` (`id_usuario`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_tr_evento` FOREIGN KEY (`id_evento_sanitario`) REFERENCES `eventos_sanitarios` (`id_evento_sanitario`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_tr_medicamento` FOREIGN KEY (`id_medicamento`) REFERENCES `medicamentos` (`id_medicamento`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tratamientos`
--

LOCK TABLES `tratamientos` WRITE;
/*!40000 ALTER TABLE `tratamientos` DISABLE KEYS */;
/*!40000 ALTER TABLE `tratamientos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `turnos_ordenio`
--

DROP TABLE IF EXISTS `turnos_ordenio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `turnos_ordenio` (
  `id_turno` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned DEFAULT NULL,
  `empresa_id_u` bigint unsigned DEFAULT NULL,
  `codigo` varchar(40) NOT NULL,
  `nombre` varchar(120) NOT NULL,
  PRIMARY KEY (`id_turno`),
  UNIQUE KEY `uq_to_empresa_codigo` (`empresa_id_u`,`codigo`),
  KEY `idx_to_empresa` (`empresa_id`),
  CONSTRAINT `fk_to_empresa` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id_empresa`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `turnos_ordenio`
--

LOCK TABLES `turnos_ordenio` WRITE;
/*!40000 ALTER TABLE `turnos_ordenio` DISABLE KEYS */;
INSERT INTO `turnos_ordenio` VALUES (1,NULL,NULL,'manana','Ma├▒ana'),(2,NULL,NULL,'tarde','Tarde');
/*!40000 ALTER TABLE `turnos_ordenio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario_empresas`
--

DROP TABLE IF EXISTS `usuario_empresas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario_empresas` (
  `id_usuario` bigint unsigned NOT NULL,
  `id_empresa` bigint unsigned NOT NULL,
  `id_rol` bigint unsigned NOT NULL,
  `estado` varchar(20) NOT NULL DEFAULT 'activo',
  `es_activa` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_usuario`,`id_empresa`),
  KEY `idx_ue_empresa` (`id_empresa`),
  KEY `idx_ue_rol` (`id_rol`),
  CONSTRAINT `fk_ue_empresa` FOREIGN KEY (`id_empresa`) REFERENCES `empresas` (`id_empresa`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_ue_rol` FOREIGN KEY (`id_rol`) REFERENCES `roles` (`id_rol`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_ue_usuario` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario_empresas`
--

LOCK TABLES `usuario_empresas` WRITE;
/*!40000 ALTER TABLE `usuario_empresas` DISABLE KEYS */;
INSERT INTO `usuario_empresas` VALUES (2,2,1,'activo',1,'2026-01-05 21:38:54');
/*!40000 ALTER TABLE `usuario_empresas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario_fincas`
--

DROP TABLE IF EXISTS `usuario_fincas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario_fincas` (
  `id_usuario` bigint unsigned NOT NULL,
  `id_finca` bigint unsigned NOT NULL,
  `empresa_id` bigint unsigned NOT NULL,
  `id_rol` bigint unsigned NOT NULL,
  `desde` date DEFAULT NULL,
  `hasta` date DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_usuario`,`id_finca`,`empresa_id`),
  KEY `idx_uf_finca` (`id_finca`,`empresa_id`),
  KEY `idx_uf_rol` (`id_rol`),
  CONSTRAINT `fk_uf_finca` FOREIGN KEY (`id_finca`, `empresa_id`) REFERENCES `fincas` (`id_finca`, `empresa_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_uf_rol` FOREIGN KEY (`id_rol`) REFERENCES `roles` (`id_rol`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_uf_usuario` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario_fincas`
--

LOCK TABLES `usuario_fincas` WRITE;
/*!40000 ALTER TABLE `usuario_fincas` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario_fincas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `id_usuario` bigint unsigned NOT NULL AUTO_INCREMENT,
  `email` varchar(190) NOT NULL,
  `nombre` varchar(120) NOT NULL,
  `telefono` varchar(40) DEFAULT NULL,
  `password_hash` varchar(255) DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_usuario`),
  UNIQUE KEY `uq_usuarios_email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
INSERT INTO `usuarios` VALUES (2,'yoinerdeyhan@gmail.com','Yoiner Moreno','+5831431295578','$2b$12$V4AHt.xJlc5yOWhHN4esTOFzE5fAWdTtt0tKIR7Vg0ddb3OYHd9.W',1,'2026-01-05 21:38:54','2026-01-05 21:38:54');
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vacunaciones`
--

DROP TABLE IF EXISTS `vacunaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vacunaciones` (
  `id_vacunacion` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned NOT NULL,
  `fecha` date NOT NULL,
  `id_vacuna` bigint unsigned NOT NULL,
  `id_animal` bigint unsigned NOT NULL,
  `lote_vacuna` varchar(60) DEFAULT NULL,
  `costo` decimal(18,2) DEFAULT NULL,
  `observaciones` text,
  `created_by` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_vacunacion`),
  KEY `fk_vacn_created_by` (`created_by`),
  KEY `idx_vacn_animal` (`id_animal`,`empresa_id`),
  KEY `idx_vacn_empresa_fecha` (`empresa_id`,`fecha`),
  KEY `idx_vacn_vacuna` (`id_vacuna`),
  CONSTRAINT `fk_vacn_animal` FOREIGN KEY (`id_animal`, `empresa_id`) REFERENCES `animales` (`id_animal`, `empresa_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_vacn_created_by` FOREIGN KEY (`created_by`) REFERENCES `usuarios` (`id_usuario`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_vacn_empresa` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id_empresa`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_vacn_vacuna` FOREIGN KEY (`id_vacuna`) REFERENCES `vacunas` (`id_vacuna`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vacunaciones`
--

LOCK TABLES `vacunaciones` WRITE;
/*!40000 ALTER TABLE `vacunaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `vacunaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vacunas`
--

DROP TABLE IF EXISTS `vacunas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vacunas` (
  `id_vacuna` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned DEFAULT NULL,
  `empresa_id_u` bigint unsigned DEFAULT NULL,
  `codigo` varchar(80) NOT NULL,
  `nombre` varchar(160) NOT NULL,
  `descripcion` text,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id_vacuna`),
  UNIQUE KEY `uq_vac_empresa_codigo` (`empresa_id_u`,`codigo`),
  KEY `idx_vac_empresa` (`empresa_id`),
  CONSTRAINT `fk_vac_empresa` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id_empresa`) ON DELETE RESTRICT ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vacunas`
--

LOCK TABLES `vacunas` WRITE;
/*!40000 ALTER TABLE `vacunas` DISABLE KEYS */;
/*!40000 ALTER TABLE `vacunas` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-07 22:56:48
